{% extends '@FaraDataFileManager/base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
    <h1>Edit Tag</h1>

    {{ include('@FaraDataFileManager/tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('file_manager_tag_index') }}">back to list</a>

    {{ include('@FaraDataFileManager/tag/_delete_form.html.twig') }}
{% endblock %}
